VITE_APP_NAME=Period Tracker
VITE_BASE_PATH=/
VITE_API_URL_PRIMARY=https://script.google.com/macros/s/AKfycbx_hxxrqWXm_raAUFFp-qhsAG8OCLf7_pX0LSyE-foGdmbp8IF_OrxyssbsjI8qlljfzw/exec
VITE_API_URL_FALLBACK=https://script.google.com/macros/s/AKfycbx_hxxrqWXm_raAUFFp-qhsAG8OCLf7_pX0LSyE-foGdmbp8IF_OrxyssbsjI8qlljfzw/exec
VITE_API_TOKEN=123456
VITE_CACHE_TTL_MS=300000
